parser: babel-eslint
extends: airbnb

env:
  mocha: true
  browser: true

settings:
  react:
    pragma: h
    version: latest

rules:
  max-len: [2, 160]
  camelcase: 0
  no-plusplus: 0
  no-return-await: 0
  no-mixed-operators: 0
  operator-linebreak: 0
  lines-between-class-members: 0
  comma-dangle: 0
  react/sort-comp: 0
  react/prop-types: 0
  react/forbid-prop-types: 0
  react/jsx-filename-extension: 0
  react/no-array-index-key: 0
  react/no-unknown-property: 0
  react/jsx-props-no-spreading: 0
